footer {
  background-color: var(--secondary);
  width: 100vw;
  height: 35vh;
  /* filter: drop-shadow(16px 16px 20px red) invert(75%); */
  text-align: center;
}

footer img {
  position: relative;
  top: 50%;
  margin: 0 40px;
  filter: saturate(100%);
  transform: translate(-50%, -50%);
  max-height: 10vh;
  filter: invert(100%);
}

footer a:nth-child(2) img {
  filter: invert(0);
}
/* Tablet */
@media all and (max-width: 1023px) {
}
/* Mobile */
@media all and (max-width: 560px) {
  footer {
    max-height: 35vh;
    height: 100vh;
    display: grid;
    grid-row: auto auto auto;
    place-items: center;
  }
  h1#headline {
    font-size: 3em;
  }
  footer img {
    top: 0;
    transform: translate(-50%, 0%);
    margin: 0;
    max-width: 100px;
  }
  span#days,
  span#minutes,
  span#hours,
  span#seconds {
    font-size: 2em;
  }
  footer a {
    width: 10px;
  }
}
