.section4 {
  height: 100vh;
}
#s4bg {
  /* position: absolute; */
  /* z-index: -1; */
  /* width: 90vw; */
  margin: 0 auto;
}
#s4bg img {
  max-width: 1440px;
  max-height: 78.7vh;
  opacity: 110%;
  z-index: 0;
}
#event {
  background-image: url(./Images/Background.svg);
  background-repeat: no-repeat;
  max-width: 70vw;
  /* background-size: auto; */
  margin: 0 auto;
  /* margin-top: -50vh; */
  padding-top: 10vh;
  /* padding-left: 1vw; */
  /* z-index: 10; */
  padding-bottom: 10vh;
}
.eventgrid {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  width: 40vw;
}

.eventchild {
  padding: 20px;
  min-width: 235px;
  width: 10vw;
  text-align: center;
  z-index: 1;
}
.eventchild h3,
.eventchild p {
  color: #fff;
}
.eventchild h3,
.eventchild p,
.eventchild img {
  margin-top: 15px;
}
#s4overlay {
  position: absolute;
  margin-top: -220px;
  transform: scale(0.7);
}
