.section4 {
  height: 100vh;
}
#s4bg {
  position: absolute;
  z-index: -1;
  right: 0;
}
#s4bg img {
  width: 90vw;
  max-width: 2440px;
  max-height: 78.7vh;
}
#event {
  background-image: url(/Images/s4.svg);
  background-repeat: no-repeat;
  width: 70vw;
  background-size: auto;
  margin: 0 auto;
  margin-top: 20vh;
  padding-top: 10vh;
  padding-left: 1vw;
  padding-bottom: 10vh;
  text-align: center;
}
.eventgrid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 60vw;
}

.eventchild {
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}
.eventchild h3,
.eventchild p {
  color: #fff;
}
.eventchild h3,
.eventchild p,
.eventchild img {
  margin-top: 15px;
}
