.section4 {
  height: 100vh;
}
#s4bg {
  padding-top: 25%;
}
#s4bg img {
  max-width: 1440px;
  max-height: 78.7vh;
  /* position: absolute; */
  opacity: 100%;
  z-index: 0;
}
#event {
  background-image: url("/Images/Background.svg");
  background-repeat: no-repeat;
  max-width: 70vw;
  /* min-width: 300px; */
  /* left: 0; */
  /* right: 0; */
  /* position: absolute; */
  margin: 0 auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.eventgrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  margin: 0 auto;
  /* width: 40vw; */
}

.eventchild {
  padding: 20px;
  min-width: 235px;
  width: 10vw;
  text-align: center;
  z-index: 1;
}
.eventchild h3,
.eventchild p {
  color: #fff;
}
.eventchild h3,
.eventchild p,
.eventchild img {
  margin-top: 15px;
}
#s4overlay {
  position: absolute;
  max-width: 1340px !important;
  margin-top: -8%;
  width: 65vw;
  margin-left: 1%;
}
/* Tablet */
@media only screen and (max-width: 1023px) {
  #s4overlay {
    background-size: 100% 100%;
    display: none;
  }
  .section4 {
    height: 100%;
  }
  .eventgrid {
    width: 40vw;
  }
  .eventchild {
    width: 35vw;
  }
  #event {
    background-image: url("/Images/Background_tablet.svg");

  }
  #child1 {
    grid-column: 1;
    grid-row: 1;
  }
  #child2 {
    grid-column: 1;
    grid-row: 2;
  }
  #child3 {
    grid-column: 1;
    grid-row: 3;
  }
}
/* Mobile */
@media all and (max-width: 560px) {
  .eventchild p {
    font-size: 1.5em;
  }
  .eventchild h3 {
    font-size: 2em;
  }
}
