.section3 {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.section3_Bg {
  width: 100vw;
  position: absolute;
  z-index: -10;
  margin-top: -14vh;
}

.section3_Body {
  margin-top: 30vh;
  max-width: 40vw;
  margin-left: 10vw;
}
.section3_Body h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.section3_Body p {
  max-width: 436px;
  width: 35vw;
  margin-bottom: 50px;
}
.section3 #register {
  border: 2px solid #252529;
  padding: 15px 50px;
  box-sizing: border-box;
  width: fit-content;
  border-radius: 2px;
  background-color: #fff;
  font-family: Gotham;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  /* or 144% */
  letter-spacing: 0.184615px;
  color: #000000;
  transition: ease-in 0.3s;
}
.section3 a:hover #register {
  background-color: #485bfd;
  color: #fff;
  transition: ease-in 0.3s;
  border: 2px solid #25252900;
}
.section3 a {
  text-decoration: none;
}
#rsvpreg {
  margin-top: 40vh;
  margin-left: 15vw;
}
/* Form */


.form_area {
  display: grid;
  grid-template-areas:
  'item1 item1'
  'item2 item2';
  width: 500px;
}



.item1 { grid-area: item1; }
.item2 { grid-area: item2; }
.item2 {
  display: block;
  text-align: center;
  margin-top: 24px;
}
.item1 section {
  display: inline-block;
  padding: 40px;
  margin: 6px;
  border-radius: 8px;
  background-color: white;
  text-align: center;
}

.item1 section img {
  width: 60px;
}



.btn_back {
  cursor: pointer;
  width: 40%;
  padding: 6px 12px;
  background: var(--light_grey);
  font-family: gotham;
  font-size: 16px;
}

.btn_fwd {
  cursor: pointer;
  width: 40%;
  padding: 6px 12px;
  font-size: 16px;
  color: white;
  font-family: gotham;
  font-weight: bold;
  background: var(--primary);
}

.Form_Rectangle {
  position: absolute;
  right: 0px;
  margin-top: -140px;
  margin-right: 8vw;
  z-index: -10;
}
.Form_Rectangle_2 {
  position: relative;
  right: 10px;
  margin-top: -210px;
  margin-right: 8vw;
  z-index: -10;
}