.section5 {
  height: 40vh;
  margin: 0 auto;
  text-align: center;
  padding-top: 25vh;
}

.section5 img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
  width: 80vw;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  font-family: gotham;
  text-transform: uppercase;
  color: black;
}

li span {
  display: block;
  font-size: 4.5rem;
  font-family: gotham;
}


.message {
  font-size: 4rem;
  display: none;
  padding: 1rem;
}
/* Tablet */
@media all and (max-width: 1023px) {
}
/* Mobile */
@media all and (max-width: 560px) {
  h1 {
    margin-top: 20px;
    font-size: 5rem;
    /* text-align: center; */
  }

  li {
    font-size: 1.125rem;
    padding: 0.75rem;
  }

  li span {
    font-size: 3.375rem;
  }
}
